{% if site.enable_google_verification or site.enable_bing_verification %}
  <!-- Website verification -->
  {% if site.enable_google_verification %}
    <meta name="google-site-verification" content="{{ site.google_site_verification }}">
  {% endif %}
  {% if site.enable_bing_verification %}
    <meta name="msvalidate.01" content="{{ site.bing_site_verification }}">
  {% endif %}
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
{% endif %}

{% capture author_name %}{{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif %} {{ site.last_name }}{% endcapture %}
{% if site.title == 'blank' %}
  {% capture site_title %}{{ author_name }}{% endcapture %}
{% else %}
  {% capture site_title %}{{ site.title }}{% endcapture %}
{% endif %}

{% capture computed_title %}
  {% if page.seo_title %}
    {{ page.seo_title }}
  {% elsif page.url == '/blog/index.html' %}
    {{ page.title }} | {{ site_title }}
  {% elsif page.title != 'blank' and page.url != '/' %}
    {% if page.title == null or page.title == '' %}
      {{ page.date | date: '%Y' }} | {{ site_title }}
    {% else %}
      {{ page.title }} | {{ site_title }}
    {% endif %}
  {% else %}
    {{ site_title }}
  {% endif %}
{% endcapture %}
{% assign computed_title = computed_title | strip | strip_newlines %}
{% assign computed_description = page.description | default: site.description | strip | strip_newlines %}
{% assign computed_keywords = page.keywords | default: site.keywords %}

<!-- Standard metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ computed_title }}</title>
<meta name="author" content="{{ author_name }}">
<meta name="description" content="{{ computed_description }}">
{% if computed_keywords %}
  <meta name="keywords" content="{{ computed_keywords }}">
{% endif %}

{% assign is_blog_post = false %}
{% if page.url != '/blog/index.html' and page.url contains '/blog/' %}
  {% unless page.url contains '/tag/' or page.url contains '/category/' %}
    {% assign is_blog_post = true %}
  {% endunless %}
{% endif %}

{% if site.serve_og_meta %}
  <!-- OpenGraph -->
  <meta property="og:site_name" content="{{ site_title }}">
  <meta property="og:type" content="{% if is_blog_post %}article{% else %}website{% endif %}">
  <meta property="og:title" content="{{ computed_title }}">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url | remove_first: 'index.html' }}">
  <meta property="og:description" content="{{ computed_description }}">
  {% if page.og_image or site.og_image %}
    <meta property="og:image" content="{% if page.og_image %}{{ page.og_image }}{% else %}{{ site.og_image }}{% endif %}">
  {% endif %}
  <meta property="og:locale" content="{{ site.lang }}">

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ computed_title }}">
  <meta name="twitter:description" content="{{ computed_description }}">
  {% if page.og_image or site.og_image %}
    <meta name="twitter:image" content="{% if page.og_image %}{{ page.og_image }}{% else %}{{ site.og_image }}{% endif %}">
  {% endif %}
  {% if site.x_username %}
    <meta name="twitter:site" content="@{{ site.x_username }}">
    <meta name="twitter:creator" content="@{{ site.x_username }}">
  {% endif %}
{% endif %}

{% if site.serve_schema_org %}
  <!-- Schema.org -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "{% if is_blog_post %}BlogPosting{% else %}WebSite{% endif %}",
      "name": "{{ computed_title }}",
      "headline": "{{ computed_title }}",
      "description": "{{ computed_description }}",
      "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
      "author": {
        "@type": "Person",
        "name": "{{ author_name }}"
      }
    }
  </script>
{% endif %}
